---
import Container from "@components/container.astro";
import CallToAction from "../components/calltoaction.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Contact from "../components/contact.astro";
---

<Layout title="DroverTravel">
  <div class="p-1 md:p-8">
    <Container>
      <Hero />
      <Features />
      <CallToAction />
      <Contact/>
    </Container>
  </div>
</Layout>
