---
import Container from "@components/container.astro";
import { Astronav, StickyHeader } from "astro-navbar";
---

<Container>
  <StickyHeader
    scrollY={1}
    class="sticky top-0 z-20 transition-all flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">Drover</span>
          <span class="text-slate-500">Travel</span>
        </a>
      </div>
    </Astronav>
  </StickyHeader>
</Container>


<!--// default class. applied all the time. No changes-->
<!--class="sticky top-0 border-b z-20 transition-all"-->
<!--// scroll threshold to enable active class-->
<!--scrollY={50}-->
<!--// initial classes which will be removed when scrollY reached-->
<!--defaultClass="py-5 border-transparent"-->
<!--// active classes to add when scrollY reached.-->
<!--//  "is-active" class will be added by default-->
<!--activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">-->