---
import Contactform from "./contactform.astro";
---

<div
  class="bg-black md:px-10 md:py-10   mx-auto mt-20  rounded-lg flex flex-col items-center text-center p-8"
  id="calltoaction"
>
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    What are you waiting for?
  </h2>
  <div class="flex mt-10">
    <Contactform />
  </div>
</div>
